services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=sqlite+aiosqlite:///./lab2.db
    volumes:
      - ./lab2.db:/app/lab2.db
      - ./migrations:/app/migrations
      - .:/app
    command: uvicorn --reload --host 0.0.0.0 --port 8000 --log-level debug app.main:app
    depends_on:
      - rabbitmq
      - redis

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_VHOST=local
    volumes:
      - rabbitmq_data:/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  rabbitmq_data:
  redis-data:

